.insta {
  padding-bottom: 20px;
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    display: flex;
    align-items: center;
    span {
      margin: 0 5px;
      color: var(--red);
    }
    & img {
      transition: transform 0.5s linear;
    }
    &:hover img {
      transform: rotate(360deg);
    }
  }
  & .swiper {
    padding-bottom: 20px;
  }
  & .swiper-pagination-bullet-active {
    background-color: var(--red);
  }
  & .swiper-slide {
    text-align: center;
  }
  &__img {
    max-width: 271px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 440px) {
  .insta {
    &__links {
      flex-direction: column;
    }
  }
}
