.intro {
  &__swiper {
    max-width: 100%;
  }
  &__item {
    position: relative;
  }
  &__img {
    max-width: 100%;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  &__btn {
    position: absolute;
    top: 76%;
    left: 10%;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 40px;
    background-color: var(--red);
    transition: background-color var(--trans);
    &:hover {
      background-color: var(--red-hover);
    }
  }
}
.swiper-pagination-bullet-active {
  background: var(--red);
}

@media (max-width: 768px) {
  .intro {
    &__btn {
      display: none;
    }
  }
}
