.accordion {
  border-bottom: 1px solid #e7e7e7;
  &__btn {
    padding: 15px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.accordion__btn-open + .accordion__body {
      padding: 15px 0;
      max-height: 1000px;
      opacity: 1;
      transition: all 0.3s linear;
    }
    & img {
      transition: transform var(--trans);
      display: block;
    }
    &.accordion__btn-open img {
      transform: rotate(45deg);
    }
  }
  &__name {
    font-weight: 700;
    font-size: 16px;
    margin-right: 10px;
  }
  &__body {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    margin: 0 20px;
  }
}

@media (max-width: 570px) {
  .accordion {
    &__name {
      font-size: 14px;
    }
  }
}
