.certificate {
  margin: 50px 0;
  &__selection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  &__description {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    gap: 20px;
  }
  &__info {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
  }
  &__subtitle {
    font-size: 34px;
  }
  &__paragraph {
    font-size: 16px;
    margin-top: 30px;
    line-height: 1.5;
  }
  &__bag {
    max-width: 270px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  &__period {
    max-width: 270px;
    border: 1px solid #d7d7d7;
    padding: 40px 20px 20px;
  }
  &__period-title {
    font-size: 34px;
    margin-bottom: 30px;
  }
  &__period-text {
    font-size: 14px;
    line-height: 1.5;
  }
  &__faq {
    margin-top: 40px;
  }
  &__faq-title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  &__faq-content {
    display: flex;
    justify-content: space-between;
  }
  &__faq-accordions {
    margin-right: 40px;
    max-width: 900px;
  }
  &__faq-sidebar {
  }
}

@media (max-width: 1024px) {
  .certificate {
    &__selection {
      grid-template-columns: repeat(2, 1fr);
      & div {
        justify-self: center;
      }
    }
    &__description {
      flex-direction: column;
    }
    &__period {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .certificate {
    &__subtitle {
      font-size: 24px;
    }
  }
}

@media (max-width: 624px) {
  .certificate {
    &__selection {
      grid-template-columns: 1fr;
    }
    &__info {
      flex-direction: column;
    }
    &__faq-content {
      flex-direction: column;
      justify-content: space-around;
    }
    &__faq-accordions {
      margin-bottom: 20px;
    }
    &__faq-sidebar {
      margin: 0 auto;
    }
    &__faq-accordions {
      margin-right: 0;
    }
  }
}
