.pickslider {
  max-width: 850px;
  min-height: 550px;
  padding: 30px 50px;
  &__inner {
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__name {
    font-size: 22px;
  }
  &__description {
    max-width: 540px;
    color: var(--grey);
  }
}

.days-slider {
  &__text {
    padding-top: 10px;
    margin-bottom: 30px;
  }
}

.swiper-button-prev {
  background-image: url('../../../../assets/images/programs/left_arrow.svg');
  background-repeat: no-repeat;
  right: 295px;
  left: auto;
  top: 9%;
  &::after {
    display: none;
  }
}

.swiper-button-next {
  background-image: url('../../../../assets/images/programs/right_arrow.svg');
  background-repeat: no-repeat;
  width: 34px;
  right: 0;
  top: 6%;
  &::after {
    display: none;
  }
}

@media (max-width: 1200px) {
  .pickslider {
    margin: 0 auto;
  }
}

@media (max-width: 790px) {
  .pickslider {
    padding: 30px 15px;
    &__info {
      justify-content: center;
    }
    &__description {
      display: none;
    }
  }
  .days-slider {
    &__text {
      padding-left: 30px;
      padding-right: 40px;
      text-align: center;
    }
  }
  .swiper-button-prev {
    right: auto;
    left: 0;
  }
}

@media (max-width: 625px) {
  .swiper-button-prev {
    top: 36px;
  }
  .swiper-button-next {
    top: 24px;
  }
}
