.other {
  margin: 50px 0;
  &__title {
    font-size: 34px;
    margin-bottom: 30px;
  }
  &__programs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .other {
    &__programs {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 614px) {
  .other {
    &__programs {
      grid-template-columns: 1fr;
    }
  }
}
