@font-face {
  font-family: HelveticaBold;
  src: url('./assets/fonts/HelveticaBold.woff2') format('woff2'),
    url('./assets/fonts/HelveticaBold.woff') format('woff');
}

@font-face {
  font-family: HelveticaRegular;
  src: url('./assets/fonts/HelveticaRegular.woff2') format('woff2'),
    url('./assets/fonts/HelveticaRegular.woff') format('woff');
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: #000;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

#root {
  height: 100%;
}

body {
  color: #000;
  font-size: 14px;
  font-family: HelveticaBold, Arial, Helvetica, sans-serif;
}

.reg {
  font-family: HelveticaRegular, Arial, Helvetica, sans-serif;
}

:root {
  --black: #000;
  --white: #fff;
  --blue: #007ebd;
  --red: #fc5239;
  --red-hover: #d83d26;
  --green: #1eb949;

  --trans: 0.3s ease-in-out;
}
