.picktab {
  display: flex;
  &__body {
    max-width: 330px;
  }
  &__big-img {
    max-width: 330px;
    max-height: 242px;
    margin: 0 auto;
    display: block;
  }
  &__info {
    margin-top: 40px;
  }
  &__meal {
    margin-bottom: 20px;
  }
  &__text {
  }
  &__tabs {
    width: 50%;
    margin-top: 20px;
    margin-left: 40px;
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  &__tab {
    cursor: pointer;
  }
  &__small-img {
    max-width: 91px;
    max-height: 70px;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 790px) {
  .picktab {
    &__tabs {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 625px) {
  .picktab {
    flex-direction: column;
    align-items: center;
    &__tabs {
      align-self: auto;
      margin-left: 0;
      margin-top: 0;
      justify-items: center;
      width: auto;
    }
    &__info {
      margin-top: 20px;
      margin-bottom: 40px;
    }
    &__meal,
    &__text {
      text-align: center;
    }
  }
}

@media (max-width: 390px) {
  .picktab {
    &__big-img {
      max-width: 100%;
    }
  }
}
